.grid-asociados {
  width: 100%;
  max-width: 100%;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
}

.grid-asociados h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #53107F;
}

.grid-asociados input {
  display: block;
  margin: 0 auto 1.5rem auto;
  padding: 0.5rem 1rem;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.95rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

thead {
  background-color: #53107F;
  color: white;
}

th, td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}

tr:hover {
  background-color: #f9f1fc;
}

.btn-accion {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.25rem;
  transition: transform 0.2s;
}

.btn-accion:hover {
  transform: scale(1.2);
}

.btn-accion.pagos {
  background-color: #3ba01c;
  color: black;
  border: none;
  border-radius: 6px;
  padding: 0.4rem 0.6rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-accion.eliminar:hover {
  background-color: #cf2929e3;
}
.btn-accion.eliminar {
  background-color: #8b0000e3;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  padding: 0.4rem 0.6rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-accion.pagos:hover {
  background-color: #47c222;
}

.btn-accion.detalles {
  background-color: #53107F;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.4rem 0.6rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-accion.detalles:hover {
  background-color: #7a25af;
}

.paginacion {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.paginacion button {
  padding: 0.3rem 0.8rem;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  border-radius: 6px;
}

.paginacion button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.asociados-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn-agregar-socixs {
  background-color: #53107F;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.btn-agregar-socixs:hover {
  background-color: #ff3bef;
}
