.horario-container {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 999;
  }
  
  .horario-toggle {
    background-color: #53107F;
    color: white;
    border: none;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border-radius: 8px 0 0 8px;
  }
  
  .horario-panel {
    background-color: white;
    color: #333;
    padding: 1rem;
    width: 220px;
    border: 1px solid #ddd;
    border-radius: 10px 0 0 10px;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 100%;
    top: 0;
    white-space: normal;
  }
  